tbody > tr:hover{background:#eee;cursor:pointer;}
ul{list-style-type:none !important;}
ul li{display:inline-block;padding-right:1px;}
ul li a{height:28px !important;line-height:28px !important;padding:0 14px !important;}
#clear_mb{height:25px;line-height:25px;padding:0 5px;letter-spacing:0;font-size:10px;font-weight:400;}
#xmenubar ul{margin-bottom:0 !important;}
