@font-face {font-family: 'Otomanopee One';src: url('/fonts/OtomanopeeOne-Regular.ttf') format('truetype');}
@font-face {font-family: 'Orbitron';src: url('/fonts/Orbitron-VariableFont_wght.ttf') format('truetype');}
@font-face {font-family: 'Zen Tokyo Zoo';src: url('/fonts/ZenTokyoZoo-Regular.ttf') format('truetype');}
@font-face {font-family: 'Tourney';src: url('/fonts/Tourney-VariableFont_wdth,wght.ttf') format('truetype');}
@font-face {font-family: 'Alfa Slab One';src: url('/fonts/AlfaSlabOne-Regular.ttf') format('truetype');}
body{font-family: arial, san-serif;font-size: 14px;line-height:1.42857143;color:#333333;background-color #fff;}
button{background:#22aa22;border:1px solid #55bb55;color:#fff;cursor:pointer;font-size:26px;padding:10px 50px;text-transform:uppercase;}
button:hover{background:#11bb11;}
hr{border:0;border-top:1px solid #ddd;}
.main{margin-top:10px;text-align:center;}
#conn{text-align:center;font-size:26px;font-family: 'Alfa Slab One';text-transform:uppercase;}
#waiting{font-family: 'Otomanopee One', sans-serif;font-size:18px;display:none;}
#insert{font-family: 'Orbitron', sans-serif;}
#mb_limit{font-family: Tourney; font-size:48px;text-align:center;display:none;}
#title{text-align:center;font-family: 'Zen Tokyo Zoo', cursive;font-weight:400;font-size:2.6em;}
